body {
    font-family: 'Oswald', sans-serif;
    background: #fce4ec;
    /*background: #983351;*/
}

a:link {
    color: #4c0017;
    text-decoration: none;
}

a:visited {
    color: #4c0017;
    text-decoration: none;
}

a:hover {
    color: #be5f7c;
    text-decoration: none;
}

a:active {
    color: #e498af;
    text-decoration: none;
}

header a:link {
    color: black;
    text-decoration: none;
}

header a:visited {
    color: black;
    text-decoration: none;
}

.wg-header-outer {
    /*background: #721330;*/
    background: #c48b9f;
    border-bottom: 2px solid black;
    color: black;
}

.guess-btn {
    background: #9c27b0;
    border: #9c27b0;
    color: white;
}

.wg-footer {
    color: black;
}

.wg-text-dark {
    color: black;
}

.wg-text-light {
    color: white;
}

.wg-color-primary {
    color: #f8bbd0;
}

.wg-color-primary-dark {
    color: #c48b9f;
}

.wg-color-background-primary {
    background: #fce4ec;
}
